 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.resimim:hover {opacity: 0.6;}

.cerceve {
  width: 99%;

  padding: 10px;
background-image: radial-gradient(circle, #000000, #1c030f, #2a061d, #37022e, #400043);

}
.cerceve:hover {opacity: 0.94;}
@media (min-width: 992px) {
    .navbar {
        height:75px;
    }
}

        .dropdown { 
            position: static !important; 
        } 
          
        .dropdown-menu { 
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
            margin-top: 0px !important; 
            width: 100% !important;
            height: 155px
        } 

        div.polaroid {


  width: 100px;
}

