<div class="container">
	<div class="row">
		<div class="col-12"><br>
			<div class="card">

				<h3 class="text-center">İletişim</h3>
				<p> Tel: 0555 555 55 55</p>
				<p> Mail: asdasd@asdasd.com</p>
				<p> Adres: asdasd asdasd asdasd </p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3147.3641660289622!2d32.516986880950945!3d37.92192212263715!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27d41cb1c6f03b7d!2sbangu%20ah%C5%9Fap%20mobilya!5e0!3m2!1str!2str!4v1583713824576!5m2!1str!2str" width="600" height="600" frameborder="0" class="center" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</div>